In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2020-03-16 20:18:36--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: 'moviedataset.zip'

moviedataset.zip    100%[===================>] 152.88M  4.54MB/s    in 34s

2020-03-16 20:19:11 (4.54 MB/s) - 'moviedataset.zip' saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [7]:
movies_df = movies_df.drop('genres', 1)

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [10]:
ratings_df = ratings_df.drop('timestamp', 1)

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [12]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira

In [13]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [14]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [15]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

In [16]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104167    1130        1     0.5
104168    1130        2     4.0
104214    1130      296     4.0
104363    1130     1274     4.5
104443    1130     1968     4.5

In [17]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [18]:
userSubsetGroup[0:3]

[(75,       userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0), (106,       userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5), (686,        userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0)]

In [19]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [20]:
pearsonCorrelationDict.items()

[(4, 0),
 (12, 0),
 (13, 1.0),
 (14, 0),
 (15, -1.0000000000000018),
 (17, -0.3458572319330373),
 (18, 0),
 (20, 0),
 (23, 0),
 (26, 0),
 (28, 0),
 (31, 0),
 (32, 0),
 (34, 0.9819805060619652),
 (37, -1.0),
 (38, 0),
 (39, -0.5000000000000053),
 (40, -1.0),
 (45, 0),
 (47, 0),
 (48, 0),
 (50, -0.5000000000000009),
 (53, 0),
 (54, 0),
 (55, 0),
 (56, 0),
 (57, 0),
 (58, 1.0),
 (59, 1.0),
 (60, 0),
 (63, 0),
 (64, 0),
 (66, -1.0),
 (70, 0),
 (75, 0.8272781516947562),
 (78, 1.0),
 (85, 0),
 (88, 0),
 (89, 0),
 (90, 0),
 (94, 1.0),
 (95, 0),
 (98, 0),
 (99, 0),
 (104, 0),
 (106, 0.5860090386731182),
 (107, 0),
 (109, 0),
 (110, 0),
 (114, 0.6363636363636364),
 (115, 0),
 (116, 0),
 (117, 0),
 (118, 0),
 (120, 1.0),
 (121, 0),
 (122, 0.24902912254587614),
 (124, 0),
 (128, 0),
 (129, -1.0),
 (130, 0),
 (131, 0),
 (132, 0),
 (135, 0),
 (136, 0),
 (137, 0),
 (140, 0),
 (148, 0),
 (149, 0),
 (150, -1.0),
 (151, 0),
 (152, 0),
 (155, 0),
 (158, 1.0),
 (159, 0),
 (160, 0),
 (163, 0),
 (164, 0.0),
 (166, 0),
 (170, 0),
 (174, 0),
 (175, 0),
 (176, 0),
 (178, 0.5960395606792699),
 (179, 0),
 (180, -1.0),
 (183, 1.0),
 (184, 0),
 (187, 0),
 (192, 0),
 (198, 0),
 (199, -1.0),
 (201, 0),
 (202, 0),
 (205, 0),
 (206, 0),
 (208, 0),
 (210, 0),
 (212, 1.0),
 (216, 0),
 (217, 0.8819171036881969),
 (219, 0),
 (222, 0),
 (223, 0),
 (224, 0),
 (226, 0.5),
 (227, 1.0),
 (228, 0),
 (229, 0),
 (233, 0),
 (234, 0),
 (235, 0.9449111825230684),
 (237, 0),
 (240, 0),
 (241, -0.3799802978286742),
 (243, 0),
 (244, 0),
 (251, 0),
 (255, 0),
 (256, -0.5000000000000002),
 (257, -1.0),
 (258, 0),
 (259, 1.0),
 (261, 0),
 (264, 0),
 (265, 0),
 (269, 1.0),
 (272, 0),
 (274, 1.0),
 (275, 1.0),
 (276, 0),
 (277, 0.8703882797784892),
 (282, -1.0),
 (285, 0),
 (287, 0),
 (288, 0),
 (293, 0),
 (294, 1.0),
 (296, 0),
 (302, 0),
 (303, -0.5),
 (304, 1.0),
 (305, 0),
 (309, 0),
 (310, 0),
 (312, 0),
 (313, 0),
 (317, 0),
 (319, 1.0),
 (320, 0),
 (321, 0),
 (322, -0.8660254037844387),
 (323, 0),
 (326, 0),
 (328, 0),
 (329, 0),
 (330, 1.0),
 (332, 0),
 (334, 0),
 (337, 0),
 (340, 0.8703882797784892),
 (341, 0.8660254037844356),
 (345, 0),
 (347, 0),
 (348, 0),
 (349, 0),
 (350, 0),
 (351, 0),
 (352, 0),
 (355, 0),
 (358, 0),
 (360, 0),
 (361, 1.0),
 (362, 0),
 (363, 0),
 (365, -0.41931393468876854),
 (366, 0),
 (368, -1.0),
 (373, 0.723746864455746),
 (375, 0),
 (382, 0),
 (383, 0),
 (385, 0),
 (386, 0),
 (388, 0.3273268353539889),
 (390, 0.8660254037844402),
 (391, 0),
 (392, 0),
 (393, 0.592156525463792),
 (394, 0),
 (396, 0),
 (397, 0),
 (400, 0),
 (401, 0),
 (403, 0.8660254037844448),
 (404, 0),
 (405, 0),
 (406, 0),
 (407, 0.6446583712203042),
 (408, 0),
 (409, 0),
 (414, 1.0),
 (416, 1.0),
 (422, 0),
 (424, 0),
 (430, 0),
 (432, 0.8528028654224418),
 (434, 0),
 (436, 0),
 (447, 0.5222329678670935),
 (448, -1.0),
 (449, 0),
 (450, 0),
 (451, 0),
 (454, 1.0),
 (461, 0.7385489458759964),
 (463, 0),
 (465, -1.0),
 (467, 0),
 (470, 0),
 (472, 0),
 (474, 0),
 (476, 0),
 (478, 0),
 (479, -0.8007572173962101),
 (480, 0),
 (481, 0),
 (483, 0),
 (484, 1.0),
 (486, 0),
 (488, 0),
 (489, 0),
 (491, 0),
 (493, 0),
 (494, 0),
 (495, 0.7559289460184498),
 (497, 1.0),
 (505, 0),
 (506, 0),
 (507, 0),
 (508, 0),
 (513, 0),
 (519, 0),
 (522, 1.0),
 (523, -0.944911182523068),
 (526, 0),
 (528, 1.0),
 (529, 0),
 (530, 0),
 (531, 0),
 (533, 0),
 (534, 0.8553372034476997),
 (535, 1.0),
 (536, 0),
 (537, 0.8660254037844386),
 (538, 0),
 (540, 1.0),
 (542, 0),
 (544, 0),
 (546, 0),
 (547, 0),
 (548, 0),
 (550, 0),
 (551, 0),
 (553, 1.0),
 (554, 0),
 (556, 0),
 (558, 0.899228803025897),
 (562, 0),
 (563, 0),
 (564, -0.4999999999999982),
 (565, 1.0),
 (566, 0),
 (568, -1.0),
 (575, 0),
 (580, 1.0),
 (582, 0),
 (584, -0.09090909090909091),
 (586, 0),
 (589, 0),
 (593, 1.0),
 (594, 0),
 (596, 0),
 (598, 1.0),
 (599, 0.9869275424396534),
 (604, -0.5),
 (605, 0),
 (606, 0),
 (607, 0),
 (609, 0),
 (610, 0),
 (612, 0.866025403784439),
 (613, 0.8660254037844387),
 (614, 0),
 (615, 0.866025403784439),
 (616, -1.0),
 (617, 0),
 (619, 0),
 (625, 0),
 (627, 0.7856742013183862),
 (630, 0),
 (631, 0),
 (632, 0),
 (633, 1.0),
 (635, 1.0),
 (639, 0),
 (644, 0),
 (649, 0),
 (651, 0),
 (655, -0.4999999999999982),
 (656, 0),
 (664, 0),
 (665, 0),
 (666, 0),
 (668, 0.8660254037844402),
 (670, 0.30151134457776363),
 (674, 0),
 (675, 0),
 (676, 0),
 (679, 0),
 (680, 0),
 (681, 0),
 (683, 0.6546536707079778),
 (686, 0.8320502943378437),
 (687, 0),
 (690, 0),
 (694, 0),
 (696, 1.0),
 (698, 0.9966158955401239),
 (700, 0),
 (702, 0),
 (703, 0.5),
 (705, 0.9878291611472599),
 (706, -1.0),
 (707, 1.000000000000007),
 (710, 0),
 (711, 0),
 (715, 0),
 (716, -1.0),
 (718, 1.0),
 (720, 0),
 (722, 1.0),
 (726, 0),
 (727, 0),
 (728, 0.8660254037844386),
 (730, 0),
 (732, 0),
 (735, 0.0),
 (738, 0),
 (741, 0.8660254037844402),
 (742, 0),
 (743, 0),
 (744, 0),
 (747, 0),
 (748, 1.0),
 (749, 0),
 (750, 0),
 (753, -1.0),
 (757, 0),
 (759, 0),
 (760, 0),
 (761, -0.8029550685469664),
 (763, 0),
 (764, 0),
 (767, 0),
 (768, 0),
 (769, 1.0),
 (771, 0),
 (773, 0),
 (774, 0.6546536707079773),
 (777, 0),
 (778, 0),
 (779, 1.0),
 (780, 0),
 (782, 0),
 (784, 0.9655810287305759),
 (788, 0),
 (790, 0),
 (793, -0.8660254037844448),
 (795, 0),
 (799, 0),
 (800, 0),
 (802, 0),
 (803, 0),
 (804, 0),
 (805, 0),
 (806, 0),
 (807, 1.0),
 (815, 0.5765566601970551),
 (817, 0),
 (818, 0),
 (820, 1.0),
 (821, 0),
 (822, 0),
 (823, 1.0),
 (832, 0),
 (834, 0),
 (840, 1.0),
 (841, 0),
 (842, 0),
 (844, 1.0),
 (846, 0),
 (848, 0.8660254037844387),
 (850, 0),
 (851, 0),
 (852, 0),
 (855, 0),
 (856, -1.0),
 (857, -1.0),
 (858, 0),
 (860, 0),
 (863, 0),
 (864, 0),
 (866, 0),
 (867, -1.0),
 (868, 0),
 (870, 0),
 (871, 0),
 (872, 0),
 (874, 0),
 (875, 0),
 (876, 0),
 (877, 0),
 (879, 0),
 (881, 0.18898223650461649),
 (883, 0),
 (885, 0),
 (886, 0),
 (889, 1.0),
 (893, -0.5000000000000036),
 (896, 0),
 (899, 0.8866206949335731),
 (904, 0.8181818181818182),
 (905, 0),
 (906, 0),
 (909, 0),
 (910, 0),
 (914, 0),
 (916, 1.0),
 (919, 0),
 (921, 0),
 (923, 0),
 (925, 0),
 (927, 0.6625413488689132),
 (928, -1.0),
 (929, 0),
 (930, 1.0),
 (931, 0),
 (935, 0.9449111825230572),
 (936, 0),
 (937, 1.0),
 (938, -0.4573295603800236),
 (939, 0),
 (944, 0),
 (945, 0),
 (947, 0),
 (948, 0),
 (950, 0),
 (952, 0),
 (953, 0),
 (956, 0.8660254037844387),
 (957, 0),
 (958, 0),
 (960, 0),
 (961, 0),
 (963, 0),
 (965, -0.8660254037844387),
 (966, 1.0),
 (967, 1.0),
 (969, 0.0),
 (974, -0.9428090415820635),
 (976, 0),
 (978, 0),
 (979, 0),
 (980, 0),
 (981, 0),
 (982, 0),
 (983, 0),
 (986, 0.8660254037844402),
 (989, 0),
 (990, 1.0),
 (991, 0),
 (994, 0.6546536707079773),
 (995, 0),
 (996, 0),
 (997, 0),
 (1005, 0),
 (1006, 0.8660254037844402),
 (1007, 0),
 (1008, 0),
 (1009, 0),
 (1011, 0),
 (1013, 1.0),
 (1015, 0),
 (1017, 0),
 (1018, 0),
 (1019, 0),
 (1021, -1.0),
 (1022, 0),
 (1025, 0),
 (1026, 0),
 (1028, 1.0),
 (1033, 0),
 (1036, 1.0),
 (1037, 0),
 (1040, 0.9434563530497265),
 (1041, 0),
 (1044, 0),
 (1045, 0.8660254037844356),
 (1046, 0.8660254037844402),
 (1047, 1.0),
 (1048, 0),
 (1054, 0),
 (1055, 0),
 (1058, 0),
 (1059, 0),
 (1060, 1.0),
 (1063, 0),
 (1066, 0.9650595721775965),
 (1068, 0),
 (1072, 0),
 (1073, 0),
 (1074, 1.0),
 (1078, 0),
 (1080, 0),
 (1081, 0),
 (1085, 0),
 (1087, 0),
 (1088, 0),
 (1089, 0),
 (1091, 0),
 (1094, 0),
 (1095, 0),
 (1102, 0),
 (1104, 0),
 (1105, 0),
 (1107, 0.9198662110077999),
 (1108, 0),
 (1109, 0),
 (1110, 0),
 (1112, 0.9999999999999991),
 (1113, 0),
 (1115, 0),
 (1117, 0),
 (1118, 0),
 (1121, 0),
 (1124, 0),
 (1126, 1.0),
 (1130, 0.2891574659831201),
 (1131, 0),
 (1133, 0),
 (1134, -0.4999999999999929),
 (1140, 0),
 (1141, 0),
 (1143, 0),
 (1146, -1.0),
 (1147, 0),
 (1148, 0),
 (1152, 0.4923659639173309),
 (1153, 0),
 (1157, 1.0),
 (1158, 0),
 (1159, 0),
 (1160, 0),
 (1162, 0),
 (1163, 0),
 (1164, 0),
 (1165, 0),
 (1167, -1.0),
 (1168, 1.0),
 (1170, 0),
 (1171, 0.8660254037844402),
 (1172, -0.5000000000000009),
 (1174, 0.0),
 (1175, 0),
 (1176, 1.0),
 (1177, 1.0),
 (1179, 0),
 (1182, 0),
 (1184, 0),
 (1189, 0),
 (1197, 0),
 (1198, 0),
 (1200, 0.9438798074485389),
 (1202, 0),
 (1204, 0.30151134457776363),
 (1206, 0),
 (1207, 0),
 (1208, 0),
 (1209, 1.0),
 (1211, -1.0),
 (1212, 0),
 (1213, 1.0000000000000018),
 (1215, 0),
 (1216, 0),
 (1219, 0),
 (1221, 0),
 (1223, 1.0),
 (1225, 0),
 (1228, 0),
 (1230, 1.0),
 (1235, 0),
 (1237, 0),
 (1238, 1.0),
 (1239, 1.0),
 (1240, 0),
 (1241, 0),
 (1245, 0),
 (1247, 0),
 (1250, -0.1889822365046136),
 (1253, 0),
 (1255, 1.0),
 (1256, 0),
 (1258, 0),
 (1260, 0),
 (1263, 0),
 (1264, 0),
 (1265, 0),
 (1266, 0),
 (1269, 0),
 (1272, 0.4999999999999982),
 (1275, 0),
 (1276, 0),
 (1277, 0),
 (1281, 0),
 (1282, 0),
 (1285, 0),
 (1287, 0),
 (1289, 0),
 (1291, 1.0),
 (1292, -1.0),
 (1293, 0),
 (1300, 0.9449111825230684),
 (1301, 1.0),
 (1302, 0),
 (1303, 0.7559289460184538),
 (1304, 0),
 (1308, 0),
 (1309, 0),
 (1310, 0),
 (1311, -1.0),
 (1313, 0),
 (1314, 0),
 (1317, 1.0),
 (1320, 0),
 (1321, 0),
 (1324, 0.14285714285714404),
 (1328, 0),
 (1330, 0),
 (1337, 1.0),
 (1339, 0),
 (1340, 0),
 (1343, 1.0),
 (1348, 0.5),
 (1349, 1.0),
 (1352, 0.9933992677987687),
 (1353, 0),
 (1356, 0),
 (1357, 0),
 (1361, -0.7559289460184546),
 (1364, 0),
 (1368, 0),
 (1370, 0),
 (1371, 0),
 (1374, 0),
 (1378, 0),
 (1381, 0),
 (1386, 1.0),
 (1388, 0),
 (1389, 0),
 (1390, 0),
 (1391, 0),
 (1392, 0),
 (1393, -0.8660254037844386),
 (1394, 0),
 (1398, 0),
 (1399, 1.0),
 (1400, 1.0),
 (1402, 1.0),
 (1403, 0),
 (1410, 0),
 (1411, 0),
 (1414, 0.90694099390581),
 (1416, 0),
 (1419, -1.0),
 (1420, 0),
 (1421, 0),
 (1424, 0),
 (1425, 0),
 (1426, 0),
 (1427, 0),
 (1428, 0),
 (1429, 0),
 (1432, 0),
 (1435, 0),
 (1437, 0),
 (1438, 0),
 (1439, 0),
 (1440, 0),
 (1442, 1.0),
 (1443, 0),
 (1444, 0),
 (1445, -1.0),
 (1447, 0),
 (1448, 0),
 (1449, 1.0),
 (1454, 0),
 (1457, 0),
 (1459, 0),
 (1462, 0),
 (1468, 0.8660254037844356),
 (1470, 0),
 (1478, 0),
 (1479, 0),
 (1480, 0),
 (1482, 0),
 (1483, -1.0),
 (1486, 0),
 (1487, 0),
 (1488, 0),
 (1492, 0),
 (1493, 0),
 (1496, 0),
 (1497, 0),
 (1502, 0.8770580193070299),
 (1503, 0),
 (1506, -1.0),
 (1513, -0.11470786693528501),
 (1518, 0),
 (1519, 0.9710607611177229),
 (1520, 0),
 (1523, 0),
 (1529, 1.0),
 (1530, 0),
 (1531, 1.0),
 (1535, 0),
 (1536, 0),
 (1540, 0),
 (1541, 1.0),
 (1542, 0),
 (1546, 1.0),
 (1547, 1.0),
 (1548, 0),
 (1549, 0),
 (1551, -0.5000000000000002),
 (1552, 1.0),
 (1553, 0),
 (1554, 0),
 (1557, -0.8660254037844387),
 (1558, 0),
 (1562, 0.0),
 (1563, 0),
 (1565, 0),
 (1566, 0),
 (1567, 0),
 (1571, 0),
 (1572, 0),
 (1573, 1.0),
 (1575, 0),
 (1577, -1.0),
 (1579, 0.0),
 (1580, -0.9449111825230704),
 (1583, 0),
 (1585, 0),
 (1590, 0),
 (1591, 0),
 (1592, 0),
 (1595, 0),
 (1598, -0.32732683535398854),
 (1599, 0.4385290096535153),
 (1600, 0),
 (1602, 0),
 (1604, 1.0),
 (1605, 0),
 (1606, 1.0),
 (1607, -0.6363636363636364),
 (1608, 0),
 (1609, 0),
 (1611, 0),
 (1614, 0.9912407071619302),
 (1615, 0),
 (1616, 0),
 (1618, -1.0),
 (1619, 0),
 (1621, 0.8660254037844385),
 (1623, 0),
 (1624, 0),
 (1625, 0.716114874039432),
 (1627, 0),
 (1629, 0.8058229640253802),
 (1631, 0),
 (1632, 0),
 (1635, 0.720576692122892),
 (1637, 0),
 (1640, 0),
 (1641, 0),
 (1643, 0.6288082227054205),
 (1644, -1.0),
 (1646, 0),
 (1647, 0),
 (1650, 0),
 (1651, 0),
 (1652, 0),
 (1654, 0),
 (1658, 1.0),
 (1659, 0),
 (1660, 0),
 (1661, 0),
 (1662, -0.2773500981126147),
 (1664, 0),
 (1667, -0.6377928041432807),
 (1669, 0.9449111825230704),
 (1671, 0),
 (1673, 0),
 (1674, 0),
 (1675, 0.6546536707079778),
 (1677, 0),
 (1681, -0.7559289460184498),
 (1682, 0),
 (1683, 0),
 (1686, 0),
 (1689, 0),
 (1690, 0),
 (1691, 0),
 (1692, 0),
 (1695, 0),
 (1696, 0),
 (1700, -0.5),
 (1702, 0),
 (1704, 0),
 (1708, 0),
 (1713, 1.0),
 (1714, 0),
 (1718, 0),
 (1720, 0),
 (1726, 0),
 (1731, 0),
 (1735, 0),
 (1736, 0),
 (1737, 1.0),
 (1741, -1.0),
 (1742, 0.5000000000000036),
 (1744, -1.0),
 (1745, 0),
 (1747, 0),
 (1748, -1.0),
 (1749, 1.0),
 (1750, 1.0),
 (1751, 0),
 (1754, -0.1889822365046138),
 (1757, 0.866025403784439),
 (1758, 0),
 (1761, 0),
 (1765, 0),
 (1766, 0),
 (1767, 0),
 (1770, 0.0),
 (1771, 0),
 (1773, 0),
 (1774, 0),
 (1775, 0),
 (1776, 0),
 (1778, 0),
 (1779, 1.0),
 (1780, 0),
 (1782, 0),
 (1785, 0.764093177458341),
 (1787, 0),
 (1792, 0.9176629354822458),
 (1794, 0),
 (1799, 0),
 (1805, 0),
 (1809, 1.0),
 (1811, 0),
 (1816, 0),
 (1817, 0),
 (1820, 0),
 (1822, 0),
 (1823, 0),
 (1824, 0.8017837257372732),
 (1826, 0),
 (1827, 0),
 (1828, -0.5000000000000009),
 (1829, 1.0),
 (1832, 0),
 (1833, 0),
 (1834, -0.5000000000000009),
 (1837, 0),
 (1839, -1.0),
 (1840, 0),
 (1842, 0),
 (1846, 0),
 (1847, 0),
 (1848, -0.6363636363636364),
 (1850, 0),
 (1853, 0),
 (1855, 0),
 (1856, 1.0),
 (1858, -1.0),
 (1861, 0),
 (1863, 0),
 (1873, 0),
 (1874, 0),
 (1875, 0),
 (1877, 0),
 (1880, -1.0),
 (1881, 0),
 (1883, 0),
 (1886, 0),
 (1889, 0.5000000000000036),
 (1890, 0),
 (1891, 0),
 (1892, 0),
 (1894, 0),
 (1895, -0.1873171623163388),
 (1896, 0),
 (1898, 1.0000000000000004),
 (1901, 0),
 (1906, 0),
 (1907, 0),
 (1914, 0),
 (1915, 0),
 (1916, 0.8660254037844356),
 (1920, 0),
 (1923, 0),
 (1926, 0),
 (1927, 0),
 (1930, 0),
 (1931, 0),
 (1933, 0.0),
 (1934, 0),
 (1937, 0),
 (1938, 0.9607689228305233),
 (1939, 0),
 (1941, 0),
 (1943, 0),
 (1945, 0.8660254037844356),
 (1946, 0),
 (1950, 0.179028718509858),
 (1951, 1.0),
 (1954, 1.0),
 (1956, 0),
 (1958, 0),
 (1959, 0),
 (1961, 0),
 (1963, 0),
 (1965, 0.9878291611472599),
 (1966, 0.8819171036881969),
 (1968, -1.0),
 (1971, 0),
 (1972, 1.0),
 (1975, 1.0),
 (1976, 0),
 (1978, 0),
 (1980, 1.0),
 (1984, 0),
 (1988, 0),
 (1992, 1.0),
 (1993, 0),
 (2000, 0.6933752452815368),
 (2001, 1.0),
 (2002, 0),
 (2007, -0.8660254037844387),
 (2014, 1.0),
 (2018, -1.0),
 (2020, 0),
 (2024, 0),
 (2025, 0),
 (2027, 0),
 (2031, 0),
 (2032, 0),
 (2033, 0),
 (2037, 0),
 (2038, 1.0),
 (2039, 0.866025403784439),
 (2040, 0),
 (2041, 0),
 (2046, 0),
 (2048, 0),
 (2053, 0),
 (2055, 1.0),
 (2058, 0),
 (2059, 0),
 (2065, 0.4385290096535153),
 (2068, 0),
 (2070, 0),
 (2071, 0),
 (2072, 0),
 (2073, -0.8660254037844386),
 (2076, 0),
 (2077, 0),
 (2078, 0),
 (2085, 0),
 (2086, -1.0),
 (2088, 0),
 (2091, 0),
 (2093, 1.0),
 (2095, 0),
 (2096, 0),
 (2099, 0),
 ...]

In [21]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0              0.0       4
1              0.0      12
2              1.0      13
3              0.0      14
4             -1.0      15

In [22]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

       similarityIndex  userId
42112              1.0   89791
29842              1.0   63356
87077              1.0  185796
51328              1.0  109253
53845              1.0  114604

In [23]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0   89791        1     3.5
1              1.0   89791        5     3.0
2              1.0   89791        7     3.5
3              1.0   89791       11     3.0
4              1.0   89791       14     4.0

In [24]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0   89791        1     3.5             3.5
1              1.0   89791        5     3.0             3.0
2              1.0   89791        7     3.5             3.5
3              1.0   89791       11     3.0             3.0
4              1.0   89791       14     4.0             4.0

In [25]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                       46.0               169.5
2                        4.0                13.5
3                        1.0                 3.0
4                        1.0                 2.0
5                        6.0                13.0

In [26]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.684783        1
2                                     3.375000        2
3                                     3.000000        3
4                                     2.000000        4
5                                     2.166667        5

In [27]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
8772                                       5.0     8772
80693                                      5.0    80693
72104                                      5.0    72104
4283                                       5.0     4283
48342                                      5.0    48342
47999                                      5.0    47999
7088                                       5.0     7088
4998                                       5.0     4998
7151                                       5.0     7151
4928                                       5.0     4928

In [28]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
4189      4283                              Fellini's Roma (Roma)  1972
4833      4928  That Obscure Object of Desire (Cet obscur obje...  1977
4903      4998                                  Defiant Ones, The  1958
6977      7088                        Black Orpheus (Orfeu Negro)  1959
7040      7151                          Girl with a Pearl Earring  2003
8090      8772                 Spy Who Came in from the Cold, The  1965
11314    47999                                         Jesus Camp  2006
11358    48342                     Conversations with Other Women  2005
14419    72104                                            Balance  1989
15940    80693                         It's Kind of a Funny Story  2010